node_modules
dist/

# Misc. & others
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.husky/*
!.husky/pre-commit
!.husky/commit-msg

# Environment files
.env
.env.local
.env.production
.env.development
.env.test
.env.staging
.env.local.example
.env.production.example
.env.development.example
.env.test.example
.env.staging.example
!.env.sample
!.env.example